.y.y-button.primary.red {
	border: 1px solid black;
	background-color: #d00c0c;
	color: #ffffff;
}

.y.y-button.primary.red:hover {
	background-color: #db2d2d;
}

.y.y-button.secondary.red {
    background-color: #ffffff;
	color: #d00c0c;
	border: 1px solid #d00c0c;
}

.y.y-button.secondary.red:hover {
	background-color: #ffefef;
	color: #af0000;
}

.y.y-th.red,
.y.y-td.red {
    border: 1px solid #ff0000;
}

.y.y-th.red {
    background: #e06c6c;
    color: rgb(0, 0, 0);
}


.y.y-td.red {
	color: #ac2323;
	background: #ffffff;
}

.y.y-tr.red:nth-child(even) td {
    background: #f5e7e7;
}

.y.y-th-sort-indicator.red {
    filter: invert(0%);
}
