.y.y-table {
    border-collapse: collapse;
    min-width: 100%;
    table-layout: fixed;
}

.y.y-th,
.y.y-td {
    /* padding: 15px; */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    /* border: 1px solid #4e4e4e; */
    word-break: break-word;
    /* border: 1px solid teal; */
    position: relative;
}

.y.y-th:before,
.y.y-td:before {
    display: block;
    position: absolute;
    content: ' ';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    box-sizing: border-box;
    pointer-events: none;
}

.y.y-th::before {
    border: 1px solid black;
}
.y.y-th:not(:first-child):before {
    border-left: none;
}

.y.y-td::before {
    border-left: 1px solid black;
    border-right: 1px solid black;
}
.y.y-td:not(:first-child):before {
    border-left: none;
}

.y.y-tr:last-child > .y.y-td:before {
    border-bottom: 1px solid black;
}

.y.y-th {
    position: sticky;
    top: 0;
    
    background: #6c7ae0;/* BLUE */
    text-align: left;
    font-weight: normal;
    /* font-size: 1.1rem; */
    color: white;
    z-index:1;
}

.y.y-th.resizable{
    resize: horizontal;
}

.y.y-td {
    /* padding-top: 10px; */
    /* padding-bottom: 10px; */
    color: #808080;
    background: #ffffff;
}

.y.y-tr:nth-child(even) td {
    background: #eae7f5;
}

.y.y-th-sort-indicator {
    background:url(data:image/gif;base64,R0lGODlhCwALAJEAAAAAAP///xUVFf///yH5BAEAAAMALAAAAAALAAsAAAIUnC2nKLnT4or00PvyrQwrPzUZshQAOw==) no-repeat center right;

    filter: invert(100%);

    width: 11px;
    height: 11px;
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);

    cursor: pointer;
}

.y.y-th-sort-indicator.asc {
    background:url(data:image/gif;base64,R0lGODlhCwALAJEAAAAAAP///xUVFf///yH5BAEAAAMALAAAAAALAAsAAAIRnC2nKLnT4or00Puy3rx7VQAAOw==) no-repeat center right;
}

.y.y-th-sort-indicator.desc {
    background:url(data:image/gif;base64,R0lGODlhCwALAJEAAAAAAP///xUVFf///yH5BAEAAAMALAAAAAALAAsAAAIPnI+py+0/hJzz0IruwjsVADs=) no-repeat center right;
}

.y.y-table-scroller {
    overflow-y: auto;
    max-height: 400px;
}