/*<GLOBALS>*/

.y{
    font-size: 9px
}
.y.padding {
    padding: 1px;
}
.y.big-padding {
    padding: 3px;
}

@media screen and (min-width: 300px) {
    .y {
        font-size: calc(9px + (18 - 9) * ((100vw - 300px) / (1000 - 300)))
    }
    .y.padding {
        padding: calc(1px + (4 - 1) * ((100vw - 300px) / (1000 - 300)))
    }
    .y.big-padding {
        padding: calc(3px + (10 - 3) * ((100vw - 300px) / (1000 - 300)))
    }
}

@media screen and (min-width: 1000px) {
    .y {
        font-size: 18px;
    }
    .y.padding {
        padding: 4px;
    }
    .y.big-padding {
        padding: 10px;
    }
}

/*</GLOBALS>*/